@charset "UTF-8";

section img {
    position: relative;
    height: 300px;
    width: 230px;
    left: 100px;
}
iframe  {
    position: relative;
    left: 500px;
    top: -0px;
    height: 300px;
    width: 400px;
}
area {
    outline: 0;
}